<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BBABAP</title>
    <!-- kakao API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=20d8bd05963c7e7755d93c037fbdb9fe&libraries=services,geometry"></script>
    <!--마커 클릭시 출력되는 상세 정보창에 대한 style-->
    <style>
        .infoWindow {
            padding: 5px;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            width: auto;
            min-width: 150px; /* 최소너비 */
            max-width: 500px; /* 최대 너비 */
            word-wrap: break-word; /* 긴 텍스트 자동 줄바꿈 */
            overflow: hidden; /* 내용이 넘치지 않도록 처리 */
        }
    </style>
</head>

<body>
<h1>BBABAP&#x1F697&#x1F4A8</h1>
<table>
    <tr><!--주소 검색창-->
        <td>주소검색</td>
        <td><input type="text" name="detailAddress" id="address"></td>
        <td><button type="button" id="searchBtn">검색</button></td>
    </tr>
    <tr><!--내 위치로 이동하는 버튼-->
        <td colspan="3"><button type="button" id="findMyLocation">내 위치로</button></td>
    </tr>
</table>
<!--카카오 맵을 표시할 영역-->
<div id="map" style="width:100%;height:700px;"></div>
<!-- 검색 결과를 표시할 팝업 리스트 -->
<div id="searchResults"></div>
<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var mapContainer = document.getElementById('map');
    //지도 초기 정보 설정.
    var mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    //마커와 정보창 객체 생성
    var marker = new kakao.maps.Marker();
    var infowindow = new kakao.maps.InfoWindow({removable: true});
    var currentCircle = null;
    //주어진 위도와 경도에 반경(원)을 표시
    function displayCircle(lat, lon) {
        if (currentCircle !== null) {//기존에 표시된 반경이 있다면 제거
            currentCircle.setMap(null);
        }//if end
        currentCircle = new kakao.maps.Circle({//kakao maps Circle객체를 생성. 원에 대한 스타일과 설정 지정
            center: new kakao.maps.LatLng(lat, lon),
            radius: 1000,
            strokeWeight: 5,
            strokeColor: '#75B8FA',
            strokeOpacity: 1,
            strokeStyle: 'dashed',
            fillColor: '#CFE7FF',
            fillOpacity: 0.7
        });
        currentCircle.setMap(map);//currentCircle변수에 현재 생성된 원 객체 할당
    }//displayCircle end
    // 주어진 위치에 마커 표시, 정보창에 메시지 출력
    function displayMarker(locPosition, message) {
        marker.setMap(map);//마커를 지정된 위치에 배치
        marker.setPosition(locPosition);//locPosition 매개변수로 전달된 위치에 새로운 마커를 생성하고 지도에 표시
        // 마커 클릭 이벤트를 등록. 마커를 클릭하면 해당 위치의 주소 정보를 가져와서 정보창에 출력
        kakao.maps.event.addListener(marker, 'click', function() {
            var geocoder = new kakao.maps.services.Geocoder();
            // 마커의 좌표 정보를 사용하여 주소 정보를 요청.
            geocoder.coord2Address(marker.getPosition().getLng(), marker.getPosition().getLat(), function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ?
                        '<div style="padding: 5px; border-bottom: 1px solid #eee; margin-bottom: 5px;">도로명주소 : '
                        + result[0].road_address.address_name + '</div>':
                        '';
                    detailAddr += '<div style="padding: 5px;">지번 주소 : ' + result[0].address.address_name + '</div>' + '<button id="addFavorite" style="margin-top: 5px;">즐겨찾기 추가</button>';
                    // 인포윈도우에 상세 주소 정보를 표시합니다
                    infowindow.setContent('<div style="margin:10px; font-size:12px; min-width:200px; line-height:1.5;">' + detailAddr + '</div>');
                    infowindow.open(map, marker);
                    //즐겨찾기 버튼 클릭 이벤트 리스너
                    document.getElementById('addFavorite').addEventListener('click', function() {
                        alert("즐겨찾기 버튼 클릭");
                    });
                }//if end
            });
        });//click event end
        // 정보창에 메시지 설정
        infowindow.setContent(message);
        infowindow.open(map, marker);//지도에 정보창 표시
        // 지도 중심 위치 설정
        map.setCenter(locPosition);
    }//displayMarker end
    // 페이지 로드 시 사용자의 현재 위치를 찾아 지도의 중심으로 설정
    window.onload = function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude,
                    lon = position.coords.longitude;
                var locPosition = new kakao.maps.LatLng(lat, lon),
                    message = '<div class="infoWindow">현재 나의 위치</div>';
                displayMarker(locPosition, message);
                displayCircle(lat, lon);
            }, function(error) {
                console.error(error);
            }, {
                enableHighAccuracy: true,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            alert('geolocation을 사용할 수 없습니다.');
        }
    };
    // 검색 버튼을 눌렀을 때의 이벤트.
    document.getElementById('searchBtn').addEventListener('click', function() {
        var addr = $('#address').val();
        alert("검색한 주소 : "+ addr);
        // kakao maps Places 객체 생성
        var places = new kakao.maps.services.Places();
        // 주소 검색 요청
        places.keywordSearch(addr, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                if(result.length > 1) { // 검색 결과가 여러 개인 경우
                    // 팝업 리스트로 출력
                    var popupList = '<ul>';
                    for (var i = 0; i < result.length; i++) {
                        popupList += '<li><a href="#" class="searchResult" data-lat="' + result[i].y + '" data-lon="' + result[i].x + '">' + result[i].place_name + '</a></li>';
                    }
                    popupList += '</ul>';
                    // 팝업 창에 리스트 표시
                    $('#searchResults').html(popupList);
                    $('#searchResults').show();
                    // 리스트 아이템을 클릭하면 해당 위치로 이동
                    $('.searchResult').click(function(event) {
                        event.preventDefault();
                        var lat = $(this).data('lat');
                        var lon = $(this).data('lon');
                        var locPosition = new kakao.maps.LatLng(lat, lon),
                            message = '<div class="infoWindow">' + $(this).text() + '</div>';
                        displayMarker(locPosition, message);
                        displayCircle(lat, lon);
                        // 지번 주소를 출력
                        var geocoder = new kakao.maps.services.Geocoder();
                        geocoder.coord2Address(lon, lat, function(result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                var address = result[0].address.address_name;
                                alert("선택한 위치의 지번 주소: " + address); // alert으로 출력
                                // 주소를 시/도 까지만 잘라내기
                                var slicedAddr = address.split(' ').slice(0, 1).join(' ');
                                // AJAX 통신으로 잘라낸 지번 주소 데이터 전달
                                $.ajax({
                                    url : `http://localhost:7777/bbabap/getchargeraddress/${slicedAddr}` ,
                                    dataType : 'json' ,
                                    success : function(data) {
                                        console.log('Charger Info:', data);
                                        // 반환된 데이터 중 'data'키에 해당하는 배열에 접근하여 마커 표시 함수 호출
                                        displayMarkersWithAddresses(data.data);
                                        // 검색한 주소로 이동
                                        moveMapToAddress(address);
                                    }
                                });
                            }
                        });
                    });
                } else if (result.length === 1) { // 검색 결과가 하나인 경우
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    marker.setPosition(coords);
                    marker.setMap(map);
                    var message = '<div class="infoWindow">' + result[0].address_name + '</div>';
                    infowindow.setContent(message);
                    infowindow.open(map, marker);
                    map.setCenter(coords);
                    displayCircle(result[0].y, result[0].x);
                    // 지번 주소를 출력
                    var geocoder = new kakao.maps.services.Geocoder();
                    geocoder.coord2Address(result[0].x, result[0].y, function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            var address = result[0].address.address_name;
                            alert("선택한 위치의 지번 주소: " + address); // alert으로 출력
                            // 주소를 시/도 까지만 잘라내기
                            var slicedAddr = address.split(' ').slice(0, 2).join(' ');
                            // AJAX 통신으로 잘라낸 지번 주소 데이터 전달
                            $.ajax({
                                url : `http://localhost:7777/bbabap/getchargeraddress/${slicedAddr}` ,
                                dataType : 'json' ,
                                success : function(data) {
                                    console.log('Charger Info:', data);
                                    // 반환된 데이터 중 'data'키에 해당하는 배열에 접근하여 마커 표시 함수 호출
                                    displayMarkersWithAddresses(data.data);
                                    // 검색한 주소로 이동
                                    moveMapToAddress(address);
                                }
                            });
                        }
                    });
                } else {
                    alert("검색 결과가 없습니다. 주소를 다시 확인해주세요.");
                }
            } else {
                alert("검색 결과가 없습니다. 주소를 다시 확인해주세요.");
            }//if-else end
        });
    });
    // 주소와 충전소명이 있는 데이터 배열을 받아서 지도에 마커를 표시하는 함수
    function displayMarkersWithAddresses(dataArray) {
        // 배열에 있는 각 데이터에 대해 반복하며 마커를 표시
        dataArray.forEach(function(charger) {
            // 주소를 이용하여 지도에 마커를 생성하고 표시
            var geocoder = new kakao.maps.services.Geocoder();
            geocoder.addressSearch(charger.주소, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    // 마커 생성
                    var marker = new kakao.maps.Marker({
                        position: coords
                    });
                    // 마커를 지도에 표시
                    marker.setMap(map);
                    // 마커 클릭 시 정보창에 주소 정보와 즐겨찾기 버튼을 함께 출력
                    kakao.maps.event.addListener(marker, 'click', function() {
                        var geocoder = new kakao.maps.services.Geocoder();
                        // 마커의 좌표 정보를 사용하여 주소 정보를 요청.
                        geocoder.coord2Address(marker.getPosition().getLng(), marker.getPosition().getLat(), function(result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                var detailAddr = !!result[0].road_address ?
                                    '<div style="padding: 5px; border-bottom: 1px solid #eee; margin-bottom: 5px;">도로명주소 : '
                                    + result[0].road_address.address_name + '</div>':
                                    '';
                                detailAddr += '<div style="padding: 5px;">지번 주소 : ' + result[0].address.address_name + '</div>' + '<button id="addFavorite" style="margin-top: 5px;">즐겨찾기 추가</button>';
                                // 인포윈도우에 상세 주소 정보를 표시합니다
                                infowindow.setContent('<div style="margin:10px; font-size:12px; min-width:200px; line-height:1.5;">' + charger.충전소명 + '</div>' + '<div style="margin:10px; font-size:12px; min-width:200px; line-height:1.5;">' + detailAddr + '</div>');
                                infowindow.open(map, marker);
                                // 즐겨찾기 버튼 클릭 이벤트 리스너
                                document.getElementById('addFavorite').addEventListener('click', function() {
                                    alert("즐겨찾기 버튼 클릭");
                                });
                            }//if end
                        });
                    });//click event end
                    // 마커를 클릭했을 때 정보창을 열기 위한 내용 설정
                    var message = '<div class="infoWindow">' + charger.충전소명 + '</div>';
                    infowindow.setContent(message);
                    infowindow.open(map, marker);//지도에 정보창 표시
                }
            });
        });
    }//displayMarkersWithAddresses end
    //'내 위치로'버튼 클릭시 현재 내 위치로 이동.
    document.getElementById('findMyLocation').addEventListener('click', function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude,
                    lon = position.coords.longitude;
                var locPosition = new kakao.maps.LatLng(lat, lon),
                    message = '<div class="infoWindow">현재 위치</div>';
                displayMarker(locPosition, message);
                displayCircle(lat, lon);
            }, function (error) {
                console.error(error);
            }, {
                enableHighAccuracy: true,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            alert('geolocation을 사용할 수 없어요..');
        }
    });
    // 검색창에서 키 이벤트 감지
    var addressInput = document.getElementById('address');
    addressInput.addEventListener('keydown', function (event) {
        // 엔터 키가 눌렸을 때
        if (event.key === "Enter") {
            // 검색 버튼 클릭 이벤트 발생
            document.getElementById('searchBtn').click();
        }
    });
</script>
</body>
</html>